/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.ipl-container {
  width: 90%;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .ipl-container {
    width: 90%;
    max-width: 1110px;
  }
}

@media screen and (min-width: 768px) {
  .ipl-container {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 25px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 95px;
  }
}

.ipl-heading {
  font-family: 'Bree Serif';
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .ipl-heading {
    font-size: 70px;
    margin-left: 16px;
  }
}

.ipl-list-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80ch;
}
